<div class="page-header" fxLayout="row">
	<div fxFlex="100" fxLayoutAlign="start center">
		<div fxFlex="100">
			<h2 class="page-title">
				&nbsp;Empresas de tecnologia
			</h2>
		</div>
	</div>
</div>

<mat-nav-list class="nav-list">
	<mat-list-item *ngFor="let unit of units">

		<ngx-avatar matListAvatar [name]="unit.name" [src]="unit.photoUrl" initialsSize="2" textSizeRatio="2" [size]="32"></ngx-avatar>

		<h3 matLine>{{unit.name}}</h3>
		<p matLine style="color: #999; font-weight: lighter;">
			<span>{{unit.cityName}}</span>
    </p>

    <span fxFlex="120px" fxLayout="column" fxLayoutAlign="space-around center" fxHide.lt-sm>
      <div>
        <span *ngIf="unit.usersCount">{{unit.usersCount}}</span>
      </div>
      <small matLine>colaboradores</small>
    </span>

    <button mat-icon-button matTooltip="Opções">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>

  </mat-list-item>
</mat-nav-list>